.bg-wood{
  background-image: url("images/plank.jpg");
}
.dark-text a{
  color: black;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: black;
}

form{
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

@media only screen and (max-width: 600px) {
  textarea {
    position: relative;
    left: 20px;
  }
}
