.bg-wood{
  background-image: url("images/plank.jpg");
}
.dark-text a{
  color: black;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: black;
}

.form-body{
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: white;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.contact-title{
  margin-top: 100px;
  color:#000;
  text-transform: uppercasel
  transition: all 4s ease-in-out;
}

.contact-title h1{
  font-size: 32px;
  line-height: 10px;
}
.contact-title h2{
  font-size: 16px;

}



form{
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.form-control{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid-gray;
  color: black;
  font-size: 18px;
  margin-bottom: 16px;
}

input{
  height: 45px;
}

form .submit{
  background: #C19A6B;
  border-color: transparent;
  color: black;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover{
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

body {
    font-family: Arial;
    width: 600px;
}

.form-container {
    background: #f1ecdf;
    border: #e2ddd2 1px solid;
    padding: 20px;
    border-radius: 2px;
}

.input-row {
    margin-bottom: 20px;
}

.input-row label {
    color: #75726c;
}

.input-field {
    width: 100%;
    border-radius: 2px;
    padding: 10px;
    border: #e0dfdf 1px solid;
    box-sizing: border-box;
    margin-top: 2px;
}

.span-field {
    font: Arial;
    font-size: small;
    text-decoration: none;
}

.btn-submit {
    padding: 10px 60px;
    background: #9e9a91;
    border: #8c8880 1px solid;
    color: #ffffff;
    font-size: 0.9em;
    border-radius: 2px;
    cursor: pointer;
}

.errorMessage {
    background-color: #e66262;
    border: #AA4502 1px solid;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 3px;
}

.successMessage {
    background-color: #9fd2a1;
    border: #91bf93 1px solid;
    padding: 5px 10px;
    color: #3d503d;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9em;
}

.info {
    font-size: .8em;
    color: #e66262;
    letter-spacing: 2px;
    padding-left: 5px;
}
