
/* body{
  background-image: url("images/plank.jpg");
  background-size: 100%;
} */
.btn-primary{
  background-color: black;
  color: #bd8f64;
}
.jumbotron{
  font-family: 'Bungee', cursive;
  font-size: 10vw;
  color: #bd8f64;
}
.bg-wood{
  background-image: url("images/plank.jpg");
  background-size: 100%;
}

dark-text a{
  color: black;
}
.nav-link{
  font-family: 'Bungee', cursive;
  font-size: 30px;
  color: black;
}

.nav-link:hover{
  color: black;
  opacity: 50%;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: black;
}

form{
  margin-top: 50px;
  transition: all 4s ease-in-out;
}


@media only screen and (max-width: 600px) {
 .col-6{
    width: 50%;
  }
  img{
    width:50%
  }

}
.top-down-onefifty
{
  position: relative;
  top: 150px;
}
.effect img.image{
/*type your css here which you want to use for both*/
}
.effect:hover img.image{
display:none;
}
.effect img.hover{
display:none;
}
.effect:hover img.hover{
display:block;
}
.resp-text{
  font-size: 10vw;
}
